/*************************************************
    GENERAL STYLES
 *************************************************/
 *, *::before, *::after 
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Amble-Regular', sans-serif;
}

/************************************************
    FONT
 ************************************************/

@font-face 
{
    font-family: 'Amble-Regular';
    src: url('font/Amble-Regular.ttf') format('otf'),
}


/************************************************
    UTILITIES
 ************************************************/

.container 
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

.text-center 
{
    text-align: center;
}
