/*************************************************
    GENERAL STYLES
 *************************************************/
 *, *::before, *::after 
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Tosia', 'FontAwesome', 'Tosia-Bold', sans-serif;
}


ul 
{
    list-style: none;
    display: flex;
}

li 
{
    margin-right: 1rem;
}

a 
{
    text-decoration: none;
    color: black;
}

/************************************************
    FONTS
 ************************************************/
@font-face 
{
    font-family: 'Tosia';
    src: url('font/ROHH\ \ TosiaRegular.otf');
}

@font-face 
{
    font-family: 'Tosia-Bold';
    src: url('font/ROHH\ \ TosiaBold.otf');
}

/************************************************
    UTILITIES
 ************************************************/

.container 
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

.text-center 
{
    text-align: center;
}

.flex
{
    display: flex;
}

.margin-auto
{
    margin: auto;
}

.height-100
{
    height: 100%;
}

.hide
{
    display: none;
}

.font-white
{
    color: white;
}

/************************************************
    GENERAL CODE
************************************************/

/************************************************
    HEADER
************************************************/
.whole-header
{
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.right-header ul > li
{
    display: inline-block;
    padding-left: 1rem;
}

.header-right ul > li > a
{
    text-decoration: none;
    color: white;
}

#sidebar
{
    display: none;
}

.button-header
{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
}

/************************************************
    MAIN JUMBOTRON
************************************************/
.container-large
{
    height: calc(100% - 73.5px);
}

.container-large .row
{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 0;
}

.row .two-thirds 
{
    background-color: #b5ddff;
    width: calc(100% * 2 / 3 - 20px);
    border-radius: 20px;
    padding: 0 10px;
}

.row .one-third
{
    width: calc(100% / 3 - 20px);
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem 1.5rem;
    background-color: #b5ddff;
}

.big-container .item
{
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.big-container .item > i
{
    color: #0084fd;
    font-size: 6rem;
}

.big-container .item > h3
{
    color: #0084fd;
    font-size: 1.5rem;
    font-weight: 600;
}

.big-container .two-thirds img
{
    height: 80%;
    align-self: flex-end;
}

.big-container .two-thirds .text-item-1
{
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.big-container .two-thirds .text-item-1 button
{
    width: 200px;
    background-color: #0084fd;
    border-style: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
}

.big-container .two-thirds .text-item-1 h2
{
    font-size: 1.3rem;
    font-weight: bold;
    color: #0084fd;
}

.big-container .two-thirds .text-item-1 p
{
    line-height: 2rem;
}

/************************************************
    MAIN SECTION 1
************************************************/
#section-1 .container
{
    background-color: #9792e4;
    height: 100vh;
}

#section-1 .container .left-column-section-1, .right-column-section-1
{
    gap: 60px;
    justify-content: center;
    align-items: flex-end;
    padding: 10rem 0;
}

#section-1 .container .left-column-section-1, .right-column-section-1 > h3
{
    margin: 5rem 0;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

#section-1 .container > p
{
    color: white;
}

#section-1 .container .left-column-section-1, .right-column-section-1
{
    width: calc(100% / 2 - 30px);
}

#section-1 .container .left-column-section-1, .right-column-section-1 > img
{
    width: 70%;
}

#section-1 .container .left-column-section-1, .right-column-section-1 > p
{
    font-style: italic;
}

#section-1 .container .left-column-section-1, .right-column-section-1 > h3
{
    font-size: 1.3rem;
    font-weight: 600;
}

#section-1 .container .left-column-section-1, .right-column-section-1
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    border-radius: 20px;
    align-self: flex-end;
    text-align: center;
}

#section-1 .container .left-column-section-1, .right-column-section-1 > .download-button
{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    color: black;
    background-color: #9792e4;
}

/************************************************
    MAIN SECTION 2
************************************************/
.testimonial-row
{
    flex-direction: column;
    gap: 20px;
    padding: 3rem 0;
}

.testimonial-row
{
    width: 100%;
    background-color: #9792e4;
    border-radius: 20px;
    padding: 2rem 2rem;
}

.testimonial-row .testimonial-text 
{
    text-align: center;
    margin-top: 40px;
}

.testimonial-row .testimonial-text .testimonial-name
{
    color: #9691e3;
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0;
}

.testimonial-row .testimonial-text > span
{
    font-size: 1.25rem;
}

.testimonial-row .testimonial-text
{
    flex-basis: 30%;
}

.testimonia-row .testimonial-picture 
{
    align-self: center;
    color: white;
    padding: 0 3rem;
}

.testimonia-row .testimonial-picture > p 
{
    margin: 2rem 0;
    font-size: 1.2rem;
}

.testimonia-row .testimonial-text  .testimonail-name 
{
    font-size: 1.2rem;
    font-weight: 600;
}

.testimonia-row .testimonial-picture img
{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

/************************************************
    MAIN SECTION 3
************************************************/
#section-3
{
    background-color: #9691e3;
}

#section-3 .container > h2
{
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

#section-3 .container .grid-item 
{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 0;
}

#section-3 .container .grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6
{
    width: calc(100% / 3 - 20px);
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
}

#section-3 .container h3
{
    padding-top: 1rem;
    font-size: 4rem;
    font-weight: 600;
    color: #9691e3;
}

#section-3 .container h4
{
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #9691e3;
}

#section-3 .container button
{
    margin: 1rem 0;
    font-size: 1rem;
    background-color: #9691e3;
    color: white;
    border-style: none;
    border-radius: 20px;
    padding: 10px 40px;
    margin-bottom: 1rem;
}

/************************************************
    MAIN SECTION 4
************************************************/
#section-4
{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 0;
}

#section-4 .text-section-4
{
    width: calc(70% - 20px);
}

.about-us .testimonial-picture
{
    width: calc(30% - 20px);
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.about-us .testimonial-picture img
{
    margin-top: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about-us .testimonial-picture:first-child
{
    position: relative;
}

.about-us .testimonial-picture:first-child > i
{
    color: #9691e3;
    font-size: 4rem;
    position: absolute;
    top: 20px;
    right: 90px;
}

#section-4 h4
{
    font-size: 3rem;
    font-weight: 600;
    color: #9691e3;
    margin-bottom: 1.5rem;
}

#section-4 .text-section-4 > p
{
    margin-bottom: 2rem;
    padding: 0 3rem 0 0;
    line-height: 2.5rem;
    font-size: 1.2rem;
}

#section-4 .text-section-4 p:first-child
{
    font-size: 2rem;
    color: #9691e3;
    font-weight: 600;
    margin-bottom: 2rem;
}

.about-us .card.right a
{
    text-decoration: none;
    background-color: #9691e3;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 2rem;
}

/************************************************
    MAIN SECTION 5
************************************************/
#section-5
{
    background-color: #9792e4;
    padding: 4rem 0;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    color: white;
}

#section-5  h1
{
    color: lightgray;
}

#section-5  h2
{
    color: #fdc15f;
    font-size: 5rem;
    font-weight: 600;
}

#section-5  p
{
    line-height: 2rem;
    font-size: 1.2rem;
}

#section-5 button
{
    color: #9691e3;
    font-size: 2rem;
    padding: 20px 30px;
    width: 300px;
    border-radius: 40px;
    border-style: none;
    cursor: pointer;
}

#section-5  span,
#section-5  a
{
    color: white;
}

/************************************************
    FOOTER
************************************************/
footer
{
    padding: 3rem 0;
    text-align: center;
    font-size: 1.1rem;
}

footer .top-footer-paragraph
{
    margin-bottom: 3rem;
}

/************************************************
    MEDIA QUERY MOBILE
************************************************/
@media screen and (max-width: 480px)
{
    
}

/************************************************
    MEDIA QUERY TABLET
************************************************/
@media screen and (max-width: 768px)
{
    
}

/************************************************
    MEDIA QUERY DESKTOP
************************************************/
@media screen and (max-width: 1900px)
{

}