/*************************************************
    GENERAL STYLES
 *************************************************/
 *, *::before, *::after 
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

ul 
{
    list-style: none;
    display: flex;
}

li 
{
    margin-right: 1rem;
}

a 
{
    text-decoration: none;
    color: black;
}

/************************************************
    FONT
 ************************************************/


/************************************************
    UTILITIES
 ************************************************/

.container 
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

.text-center 
{
    text-align: center;
}

.flex
{
    display: flex;
}

.margin-auto
{
    margin: auto;
}

.height-100
{
    height: 100%;
}

.hide
{
    display: none;
}

.font-white
{
    color: white;
}

/************************************************
    HEADER
 ************************************************/

header
{
    width: 100%;
    height: 80px;
}

header nav
{
    height: 100%;
}

.whole-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    padding: 1.5rem 0.5rem;
    background-color: rgba(0,132,253,255);
}

.logo
{
    position: relative;
    left: 270px;
}

header ul 
{
    list-style-type: none;
    width: 150px;
    height: 100%;
}

.right-header
{
    display: flex;
    justify-content: space-between;
}

nav
{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    top: 10px;
    right: 570px;
}

nav ul li 
{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    min-width: 70px;
    margin-left: 25px;
}

.header-button
{
    background-color: white;
    width: 110px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 0px solid white;
    position: relative;
    right: 270px;
}

/************************************************
    MAIN SECTION JUMBOTRON
 ************************************************/
section.jumbotron
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
}


.item
{
    background-color: rgba(181,221,255,255);
    border-radius: 20px;
}

.item h3
{
    color: #0084fd;
}

.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2
{
    margin-top: 15px;
}

.two-thirds
{
    flex-basis: calc(66.66% - 5px);
    height: 300px;
}

.one-third
{
    flex-basis: calc(33.33% - 10px);
    height: 300px;
}

.text-item-1
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.text-item-1 h3, .ltext-item-1t p, .text-item-1 button 
{
    margin-left: 20px;
}

.image-item-1 
{
    flex-shrink: 0; /* Prevents image from shrinking */
}

.image-item-1 img 
{
    width: 50%;
    height: auto;
}


/************************************************
    MEDIA QUERY FOR RESPONSIVE DESIGN: MOBILE
 ************************************************/
@media screen and (max-width: 480px)
{
    header .right-header
    {
        display: none;
    }

    .logo
    {
        position: relative;
        left: 25px;
    }

    .fa-bars
    {
        display: block;
        position: relative;
        right: 27px;
    }

}

/************************************************
    MEDIA QUERY FOR RESPONSIVE DESIGN: TABLET
 ************************************************/
@media screen and (max-width: 768px)
{
    header .right-header
    {
        display: none;
    }

    .logo
    {
        position: relative;
        left: 25px;
    }

    .fa-bars
    {
        display: block;
        position: relative;
        right: 27px;
    }

}

