/*************************************************
    GENERAL STYLES
 *************************************************/
 *, *::before, *::after 
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Tosia', 'FontAwesome', sans-serif;
}


ul 
{
    list-style: none;
    display: flex;
}

li 
{
    margin-right: 1rem;
}

a 
{
    text-decoration: none;
    color: black;
}

/************************************************
    FONT
 ************************************************/
@font-face 
{
    font-family: 'Tosia';
    src: url('font/ROHH\ \ TosiaRegular.otf');
}

/************************************************
    UTILITIES
 ************************************************/

.container 
{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

.text-center 
{
    text-align: center;
}

.flex
{
    display: flex;
}

.margin-auto
{
    margin: auto;
}

.height-100
{
    height: 100%;
}

.hide
{
    display: none;
}

.font-white
{
    color: white;
}

/************************************************
    HEADER
 ************************************************/

header
{
    width: 100%;
    height: 80px;
}

header nav
{
    height: 100%;
}

.whole-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    padding: 1.5rem 0.5rem;
    background-color: rgba(0,132,253,255);
}

.logo
{
    position: relative;
    left: 270px;
}

header ul 
{
    list-style-type: none;
    width: 150px;
    height: 100%;
}

.right-header
{
    display: flex;
    justify-content: space-between;
}

nav
{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    top: 10px;
    right: 570px;
}

nav ul li 
{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    min-width: 70px;
    margin-left: 25px;
}

.header-button
{
    background-color: white;
    width: 110px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 0px solid white;
    position: relative;
    right: 270px;
}

/************************************************
    MAIN SECTION JUMBOTRON
 ************************************************/
section.jumbotron
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
}


.item
{
    background-color: rgba(181,221,255,255);
    border-radius: 20px;
}

.item .item-icon 
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.item h3
{
    color: #0084fd;
    margin-top: 10px;
    margin-bottom: 30px;
}

.item p 
{
    line-height: 1.5rem;
}

.item-icon
{
    font-size: 60px;
}

.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2
{
    margin-top: 15px;
}

.two-thirds
{
    flex-basis: calc(66.66% - 5px);
    height: 300px;
}

.one-third
{
    flex-basis: calc(33.33% - 10px);
    height: 300px;
}

.item-1
{
    display: flex; /* use flexbox to align the two sub-containers */
    align-items: center; /* vertically center the two sub-containers */
    text-align: left;
}

.text-item-1
{
    width: 50%; /* set width of the left container */
    padding: 20px; /* add some padding for spacing */
}

.text-item-1 p 
{
    width: 300px;
    line-height: 1.5rem;
}

.text-item-1 h3, .text-item-1 p, .text-item-1 button 
{
    margin-left: 20px;
}

.image-item-1 
{
    position: relative; /* position the right container */
    top: 22px; /* align the container to the bottom */
    left: 40px; /* align the container to the right */
    width: 50%; /* set width of the right container */
}

.jumbo-button
{
    background-color:#0084fd;
    font-size: 15px;
    color: white;
    width: 200px;
    height: 40px;
    border: 0px solid #0084fd;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    right: 5px;
}

.app-store
{
    margin-left: 5px;
}
    
.image-item-1 img
{
    width: 70%;
    height: 100%;
}

/************************************************
    MAIN SECTION SECTION 1
 ************************************************/

#section-1
{
    background-color: rgba(151,146,228,255);
}

#section-1 .container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    padding-top: 100px;
    padding-bottom: 60px;

}

.container .left-column-section-1, .right-column-section-1
{
    flex-basis: 50%;
    max-width: 400px;
    max-height: 100%;
}

.left-column-section-1 .right-column-section-1
{
    background-color: rgba(151,146,228,255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-column-section-1 img
{
    width: 350px;
    height: 307px;
    position: relative;
}

.left-column-section-1 h3
{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 80px;
    margin-bottom: 50px;
}

.left-column-section-1 p
{
    line-height: 1.5rem;
}

.left-column-section-1 img, .right-column-section-1 img
{
    max-width: 100%;
} 

.right-column-section-1 img
{
    width: 230px;
    height: 240px;
    position: relative;
    top: 35px;
    left: 90px;
}

.right-column-section-1
{
    background-color: white;
    color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.right-column-section-1 h3
{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 90px;
}

.right-column-section-1 p
{
    font-style: italic;
    line-height: 1.5rem;
}

.download-button
{
    background-color: rgba(151,146,228,255);
}


/************************************************
    MEDIA QUERY FOR RESPONSIVE DESIGN: MOBILE
 ************************************************/
@media screen and (max-width: 480px)
{
    header .right-header
    {
        display: none;
    }

    .logo
    {
        position: relative;
        left: 25px;
    }

    .fa-bars
    {
        display: block;
        position: relative;
        right: 27px;
    }

    .row 
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
    }

    .item
    {
        margin-bottom: 25px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .item-1 h3
    {
        position: relative;
        bottom: 10px;
        height: 50px;
        width: 250px;
    }

    .image-item-1 
    {
        width: 100%;
    }

}

/************************************************
    MEDIA QUERY FOR RESPONSIVE DESIGN: TABLET
 ************************************************/
@media screen and (max-width: 768px)
{
    header .right-header
    {
        display: none;
    }

    .logo
    {
        position: relative;
        left: 25px;
    }

    .fa-bars
    {
        display: block;
        position: relative;
        right: 27px;
    }

}

